.feedbacks-container {
  margin: 30px;
}
.feedbacks-header {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.feedback-header_wrapper {
  display: flex;
}

.feedbacks-header_title {
  font-size: 30px;
  width: 50%;
}

.feedbacks-header_add {
  display: flex;
  width: 50%;
}

.feedbacks-header_btn {
  margin-left: auto;
  margin-right: 5%;
  cursor: pointer;
  width: 250px;
  height: 50px;
  color: white;
  font-size: 20px;
  background-color: #068a9c;
  border: none;
  border-radius: 5px;
}

.feedbacks-sorting {
  display: flex;
}
.sorting-header {
  color: #909090;
  font-size: 14px;
}
.sorting-type {
  color: #068a9c;
  cursor: pointer;
  margin-left: 10px;
}
