.search-container {
  margin: 50px 0;
}
.searchline {
  display: flex;
}

.dropdown_wrapper {
  width: 30%;
}

.dropdown {
  margin: 0 auto;
  /* min-width: 300px; */
  width: 93%;
  height: 50px;
  color: #909090;
  font-size: 18px;
  background-color: white;
}

.filer-search_btn {
  cursor: pointer;
  margin: 0 0 0 auto;
  width: 150px;
  height: 50px;
  color: white;
  font-size: 20px;
  background-color: #068a9c;
  border: none;
  border-radius: 5px;
}

.search-options {
  display: flex;
}

.search-checkbox {
  height: 20px;
  width: 20px;
  margin: 0 10px;
}

.search-options_wrapper {
  display: flex;
  padding: 40px 0px;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding: 2px 50px 0 35px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #068a9c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.deriveline {
  height: 2px;
  background-color: #f5f5f5;
}
