.main-container {
  display: block;
  margin: 0;
  padding: 30px;
}

.results-container {
  padding: 30px;
}

.header {
  display: flex;
}

.logo {
  width: 50%;
  margin: 0 auto 0 0;
  font-size: 50px;
  color: #068a9c;
  font-weight: 800px;
}

.logo-slogan {
  font-size: 18px;
  color: #d44a1e;
}

.addNew {
  display: flex;
  padding: 20px 0;
  width: 50%;
  margin: 0 0 0 auto;
  text-align: right;
  font-size: 20px;
  color: #068a9c;
}

.AddNew-icon {
  margin: 0 0 0 auto;
  padding-right: 10px;
}

.search {
  display: block;
  padding: 130px 0 0 0;
}

.search-wrapper {
  display: flex;
}

.ageToggle-wrapper {
  display: flex;
  margin: 0 auto;
}

.toggle_btn {
  width: 200px;
  height: 40px;
  color: white;
  font-size: 18px;
  background-color: #068a9c;
  border: none;
}

.toggle {
  cursor: pointer;
  font-size: 20px;
  padding: 5px 0px;
  margin: 0 10px;
  color: #068a9c;
  border-bottom: 2px solid #d44a1e;
}

.disabled {
  color: #ccc;
  border-bottom: none;
}

.search-dropdown__wrapper {
  display: flex;
  padding: 30px;
}

.search-dropdown {
  margin: 0 auto;
  min-width: 400px;
  width: 70%;
  height: 50px;
  color: #909090;
  font-size: 20px;
}

.search-button {
  display: flex;
}

.search_btn {
  cursor: pointer;
  margin: 0 auto;
  width: 400px;
  height: 50px;
  color: white;
  font-size: 20px;
  background-color: #068a9c;
  border: none;
}

@media (max-width: 600px) {
  .addNew-text {
    display: none;
  }

  .AddNew-icon {
    font-size: 30px;
  }

  .addNew {
    width: 20%;
  }
}
